body {
  text-align: center;
  background-color: #191970;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "" Arvo ", cursive";
  letter-spacing: 2px;

  animation-name: gerakMasuk;
  animation-duration: 3s;
}

h1:hover {
  color: #d2691e;
  transition: 1.5s;
}

span {
  color: #d2691e;
}

span:hover {
  color: #fff;
  transition: 1.5s;
}

@keyframes gerakMasuk {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate();
  }
}

footer {
  color: #d2691e;
  font-family: sans-serif;
  position: relative;
  top: 120px;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.btn {
  outline: none;
  border: 5px solid #404b69;
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #fff;
  border-radius: 15px;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 10px;
  background-color: #d2691e;
}
